Support Octet Counting message transfer method

Support **Octet Counting** message transfer method as defined in [RFC 6587, section 3.4.1](https://tools.ietf.org/html/rfc6587#section-3.4.1) as an alternative to the older Non-Transparent-Framing method.

@rbertoncelj this appears to have been released as of version 1.1.4 - https://github.com/CloudBees-community/syslog-java-client/commit/8296e34faffa2f7959b19c31218da72011fba797

Oh, nice, thank you for the heads-up.